* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", "serif";
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 90%;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 5px;
    margin: auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

footer {
    margin: 30px;
    display: grid;
    align-items: center;
    gap: 20px;
    grid-template-columns: 1fr auto;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;
}

.socialmedia, a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero-image {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

h2, h3 {
    background-color: var(--accent2-color);
    color: #eee;
    text-align: center;
    padding: 5px;
}

article {
    position: absolute;
}

.hero article img {
    float: right;
    width: 125px;
    border: 1px solid #000;
     box-shadow: 0 0 30px #333;
}

.hero article {
    position: absolute;
    bottom:10px;
    left: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    margin-left: 0;
}
.site-logo {
    height: 150px;
    margin: 20px 30px 0;
}

.lists {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.article-two {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: start;
    gap: 5px;
    width: 100%;
}

.specific-item {
    grid-column: span 5;
    margin-bottom: 10px;
    padding: .6rem;
}

.history-text {
    padding: .6rem;
}