*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --border-style: 1px solid rgb(0 0 0 / 0.2);
    --height: auto
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 2;
    box-shadow: 0 0 30px #333;
    float: right;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: #eee;
    padding: 5px;
    display: block;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border-style);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 200px;
}

p {
    padding: 0;
}

h1 {
    color: #333;
    padding: .5rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class selectors */
.box {
    margin: 1rem;
    border: var(--border-style);
    padding: 1rem;
    background-color: #eee;
    color: #000;/* Target your profile photo */
img {
    float: right;
    margin-left: 20px; /* Adds space between the image and text/boxes */
    margin-bottom: 10px;
    clear: both;
}

.indent {
    padding-left: 2rem;
    clear: both;
}